.header{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid grey
}
.title{
    margin-left: 2rem;
}
.addButton{
    margin-right: 2rem;
    cursor: pointer;
    color: red
}

.map{
    display: block;
}
.list{
}